# Web Framework
fastapi==0.104.1
uvicorn[standard]==0.24.0

# HTTP Client
httpx==0.25.2

# JWT
pyjwt==2.8.0
python-jose[cryptography]==3.3.0

# Password Encryption
bcrypt==4.1.2
passlib[bcrypt]==1.7.4

# Configuration Management
pydantic==2.5.0
pydantic-settings==2.1.0
email-validator==2.1.0

# Logging
loguru==0.7.2

# Utilities
python-multipart==0.0.6
python-dotenv==1.0.0

# Database
aiomysql==0.2.0
pymysql==1.1.0

# Development Tools
pytest==7.4.3
pytest-asyncio==0.21.1